@import "tailwindcss";
body {
    max-width: 100%;
    margin: 0 auto;
}
.nav {
    background-color: #412567;
    align-items: center;
}

.nav ul {
    font-size: 1rem;
    font-weight: 500;
color: #FFFFFF;
}
.nav button {
    width: 8.4rem;
    height: 2.75rem;
    border-radius: .24rem;
    background: linear;
    color: #FFFFFF;
    padding-top: 1rem;
    /* border: 1px solid red; */
    border-radius: linear;
}
.button-primary {
    display: flex;
width: 135px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px 12px 16px;

border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
/* header section banner */
#banner-section {
 position: relative;
    height: 760px;
    background: url(assets/hero-bg.png);
    background-size: 100%;
}

.banner-image {
  
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-top: 100px;
  /* padding-bottom: 310px; */

}

.circle {
  position: relative;
  width: 320px;
  height: 320px;
}
.circle img:first-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.banner-text h1 {
    color: rgba(255, 255, 255, 1);
font-style: Extra Bold;
font-size: 60px;
font-weight: 800;
line-height: 73px;
text-align: center;
}
.banner-text p {
    color: rgba(255, 255, 255, 1);
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
}
.banner-button {
    padding-top: 24px;
    display: flex;
  gap: 20px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 18px;
  border-radius: 30px;

  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.btn .icon {
  width: 18px;
  height: 18px;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.16);
}
#btn-first {
    border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
#btn-secont {
    box-sizing: border-box;
border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
border-radius: 10000px;
}

/* About section style */
#about-section {
    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 80;
padding: 50px 200px 120px 200px;
background: rgba(26, 11, 46, 1);
}

.about-text {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.about-text h3 {
    
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
color: #FFFFFF;
/* color: var(--#FFFFFF, rgba(255, 255, 255, 1)); */
}
    .about-text p {
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #FFFFFF;
padding-top: 16px;

    }
    .about-infotmation {
        width: 1200px;
height: 112px;
       display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 80;
gap: 80;
padding-top: 116px;
    }
        .about-infotmation h2 {
font-style: black;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-align: center;
color: #00FF88;
gap: 80px   ;
        }
        .about-infotmation p{
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #FFFFFF;
gap: 80px;
        }


    

